<!DOCTYPE html>
<html>
<head>
  <title>CoderschoolAssignment2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= flash_messages %>
    <nav class="navbar navbar-light bg-faded">

        <!-- Toggle Button -->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#nav-content">
            &#9776;
        </button>
        <!-- Nav Content -->
        <div class="collapse navbar-toggleable-xs" id="nav-content">
            <a class="navbar-brand" href="/"><%= image_tag "logo-small.png" %></a>
            <ul class="nav navbar-nav">
                <% unless sign_in? %>
                    <li class="nav-item">
                        <%= link_to 'Sign Up', root_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Sign In', login_path, class: "nav-link" %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to 'Sign Out', log_out_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= new_message_path %>">New message</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= users_path %>">Add friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= messages_path.concat('?type=outcomming') %>">Sent messages</a>
                    </li>
                <% end %>
            </ul>
        </div>
    </nav>

    <%= yield %>

    <footer class="footer-12">
        <div class="container">
            Chat-Chit everywhere
        </div>
    </footer>

</body>
</html>
